target
build
.gradle
.project
.classpath
.settings
bin/
.idea
*.iml
out/
Thumbs.db
obj/
libs/
*.chain
*.spvchain
/*.wallet
*.tmp
checkpoints
checkpoints-testnet
checkpoints-testnet.txt
checkpoints.txt
checkpoints-krupnik
checkpoints-krupnik.txt
/*.mnlist
/*.chainlocks
*.gobjects
/*.log
.DS_Store