target
build
.gradle
.project
.classpath
.settings
bin/
.idea
*.iml
out/
Thumbs.db
obj/
libs/
*.chain
*.spvchain
*.wallet
*.tmp
*.dat
checkpoints
checkpoints-testnet
checkpoints-testnet.txt
checkpoints.txt
checkpoints-schnapps
checkpoints-schnapps.txt
*.mnlist
*.chainlocks
*.gobjects
*.log